table tr td{
    color: rgb(63, 61, 61);
    font-size: 9px;
    
    
}
table td{
    borer:1px solid black;
    }

td#cislo-faktury{
   border-top:1px solid black;
   font-size: 16px; 
   font-weight: bold;
}
td#danovy-doklad{
    font-size: 10px; 
 }
.color-black{
    color:black;
}



table#supplier-customer{
    line-height:150%;
}
table#items{
    line-height:180%; 
}



table#supplier-customer tr#row-first td{
    height:55px;
}
table#supplier-customer tr#row-second td{
    font-size: 11px;
    font-weight: bold;
    color:black;
}
table#supplier-customer tr#row-fourth td{
    height:28px;
}
table#supplier-customer tr#row-sixth td{
    height:28px;
}

table#items tr#row-first-items td{
    height:65px;
}

table#items tr.row-first-items td{
    border-top:1px solid gray;
}

table#items tr.row-last-items td{
    border-bottom:1px solid gray;
}

.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}

table.recap{
    line-height:170%;
}

table.recap tr.row-last-recap td{
    border-top:1px solid grey;
    font-size:15px;
    font-weight:bold
}

